apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./prometheus-prometheus.yaml
- ./prometheus-additionalConfig-secret.yaml
- ./prometheus-serviceAccount.yaml  
- ./prometheus-service.yaml

- prometheus-roleBindingConfig.yaml
- prometheus-roleConfig.yaml
- prometheus-roleSpecificNamespaces.yaml
- prometheus-roleBindingSpecificNamespaces.yaml
- prometheus-clusterRole.yaml
- prometheus-clusterRoleBinding.yaml
